
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.logo{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-right: 30px;
}
body{
	background-color: red;
}
.navbar-nav{
  margin-left: 70%;
}
footer{
  background-color: black;
}